<h1><%= @commit.message %> </h1>

<ul class="tabs" data-tab>
  <li class="tab-title active"><a href="#panel2-1">Details</a></li>
  <% if @stats %><li class="tab-title"><a href="#panel2-2">Stats</a></li><% end %>
  <% if @other_commits %><li class="tab-title"><a href="#panel2-3">Diff</a></li><% end %>
  <li class="tab-title"><a href="#panel2-4">Graphs</a></li>
</ul>
<div class="tabs-content">
  <div class="content active" id="panel2-1">
    Author: <%= @commit.author.name %><br/>

    <% if @commit.parents.size > 0 %>
    <%= @commit.parents.size %> parent <%= link_to @commit.parent.sha, repository_commit_path(@repo,@commit.parent.sha)  %><br />
    <% end %>

    Commit: <%= @commit.sha %><br/>
  </div>
  <div class="content" id="panel2-2">
    <% if @stats %>

    Showing <%= @stats[:total][:files] %> changed file with <%= @stats[:total][:insertions] %> additions and <%= @stats[:total][:deletions] %> deletions. Show diff stats

    <ul>
      <% @stats[:files].each do |file| %>
      <li><%= file[0] %> +<%= file[1][:insertions] %> -<%= file[1][:deletions] %></li>
      <% end %>
    </ul>
    <% end %>
  </div>
  <div class="content" id="panel2-3">
    <ul>
      <% @other_commits.each do |log| %>
        <li><%= log.message %> <%= link_to "diff", repository_commit_diff_path(@repo,@commit.sha,log.sha) %></li>
      <% end %>
    </ul>
  </div>
  <div class="content" id="panel2-4">
    <p><%= pie_chart ({"Insertions" => @stats[:total][:insertions], "Deletions" => @stats[:total][:deletions] }) %></p>
  </div>
</div>
